@import "tailwindcss";

:root{
  background-color: #DCEFFD;
  font-family: "Inter", sans-serif;
}

h2, h4, p{
  color: #1E3A5F;
  text-align: left;
}

h2{
  font-weight: bold;
  font-size: 3rem;
}

h4{
  font-weight: bold;
  font-size: 1.5rem;
}

.link{
  color: #4A90C2;
}

.container, .card{
  padding: 1.5rem;
  background-color: #F7FBFF;
  border-radius: 1.25rem;
  box-shadow: 0.35rem 0.35rem 0.75rem rgba(213, 225, 238, 0.9),
              0.75rem 0.75rem 1rem rgba(213, 225, 238, 0.5);
}

